:root {
  --primary-color: #1a73e8;
  --background-color: #f0f4f8;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

header {
  background: var(--primary-color);
  color: #fff;
  padding: 5vh 5vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicios-header {
  display: flex;
  justify-content: center;
  gap: 10vw;
  margin-top: 5vh;
  margin-left: 4vw;
}

.servicio {
  background: rgba(255, 255, 255, 0.1);
  padding: 1vh 2vw;
  border-radius: 8px;
  font-size: 2vw;
  font-weight: 500;
}


.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-fixed {
  max-width: 15vw;
  height: auto;
}

header p {
  font-size: 2.5vw;
  margin-top: 2vh;
}

section {
  padding: 8vh 5vw;
  max-width: 90vw;
  margin: auto;
}

h2 {
  font-size: 4vw;
  margin-bottom: 4vh;
  color: aliceblue;
  font-weight: 700;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2vh;
  list-style: none;
}

li {
  background: #fff;
  padding: 2vh;
  border-radius: 1vh;
  box-shadow: 0 0.4vh 1.2vh rgba(0, 0, 0, 0.05);
  transition: 0.3s ease;
}

li:hover {
  transform: translateY(-0.5vh);
  box-shadow: 0 0.6vh 1.6vh rgba(0, 0, 0, 0.1);
}

li strong {
  color: var(--primary-color);
  display: block;
  margin-bottom: 1vh;
}

a{
  text-decoration: none;
  color: white;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.video-background video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.9;
}

.boton-contacto {
  display: block;
  margin: 5vh auto;
  padding: 2vh 4vw;
  font-size: 1.8vw;
  font-weight: 600;
  color: white;
  background: linear-gradient(90deg, #3b82f6, #6366f1);
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 0.6vh 1.6vh rgba(0, 0, 0, 0.3);
}

.boton-contacto:hover {
  transform: scale(1.1);
  box-shadow: 0 0.8vh 3vh rgba(0, 0, 0, 0.5);
}

.boton-mvv {
  display: block;
  margin: 5vh auto;
  padding: 2vh 4vw;
  font-size: 1.8vw;
  font-weight: 600;
  color: white;
  background: linear-gradient(90deg, #3b82f6, #6366f1);
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 0.6vh 1.6vh rgba(0, 0, 0, 0.3);
}

.boton-mvv a {
  text-decoration: none;
  color: white;
}

.boton-mvv:hover {
  transform: scale(1.1);
  box-shadow: 0 0.8vh 3vh rgba(0, 0, 0, 0.5);
}

